/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sofia_proregular", sans-serif;
}

body {
    height: 1200000px;
}

img {
    max-width: 100%;
} /* Fim Global */

/* Header */
header {
    margin-bottom: 130px;
}

header nav #logo-header {
    width: 125px;
    height: auto;
}

.navbar {
    position: relative;
}

.navbar-nav #navItem {
    color: #ffffff;
    position: relative;
}

.navbar-nav #navItem::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #ffffff;
    width: 0px;
    margin-top: 3px;
    transition: .4s;
    position: absolute;
}

.navbar-nav #navItem:hover::after {
    width: 100%;
}

.navbar button {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    height: 42px;
    width: 55px;
    z-index: 99999;
    border: none;
}

@media (min-width: 556px) {
    .navbar button {
        right: 90px;
    }
}

.navbar button:focus {
    box-shadow: none;
}

.navbar button .burguer-menu {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.navbar button .burguer-menu::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
}

.navbar button .burguer-menu::after {
    content: '';
    position: absolute;
    left: 0;
    top: -9px;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.burguer-menu.active {
    opacity: 0; /* Esconde o span */
}

.burguer-menu.active::before {
    transform: rotate(45deg); 
    top: 8px; 
}

.burguer-menu.active::after {
    transform: rotate(-45deg); 
    bottom: 8px;
}

header .bg-principal {
    margin: 100px 0;
}

@media (min-width: 768px) {
    nav #logo-header {
        width: 165px;
    }
}

.bg-principal {
    margin-top: 90px;
} /* Fim Header */

/* Main Conteúdo */
.cards {
    margin-bottom: 60px;
}

#materiais {
    background: #f7f7f7;
}

@media (min-width: 992px) {
    .cards {
        margin-bottom: 100px;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    border: 0;
}

.cards .card-text {
    color: #46465b;
}

.video {
    margin-bottom: 100px;
}

.video button {
    margin-bottom: 20px;
    background-color: #9ac23c;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    transition: .4s;
}

.video button:hover {
    background-color: #fff;
    color: #9ac23c;
    border: 2px solid #9ac23c;
}

@media (min-width: 992px) {
    .video .descricao-video h3 {
        margin-bottom: 30px;
        font-size: 2.2rem;
    }

    .video .descricao-video p {
        margin-bottom: 30px;
        font-size: 1rem;
    }
}

.programa p {
    font-size: 1.1rem;
    color: #46465b;
}

.programa p span {
    font-size: 1.5rem;
}

.roxo {
    color: #46465b;
}

.verde{
    color: #9ac23c;
}

.azul {
    color: #3dc1e5;
}

.rosa {
    color: #dc76ae;
}

.amarelo {
    color: #ffd20f;
}

.depoimentos {
    margin-top: 60px;
    margin-bottom: 100px;
}

@media(min-width: 992px) {
    .depoimentos {
        margin-top: 110px;
    }
}

.depoimentos .card {
    border: 0;
}

.depoimentos .box-rosa {
    background: url(../img/box-rosa.png) center center no-repeat;
    background-size: contain;
}

.depoimentos .box-azul{
    background: url(../img/box-azul.png) center center no-repeat;
    background-size: contain;
}

.depoimentos .box-verde{
    background: url(../img/box-verde.png) center center no-repeat;
    background-size: contain;
}

.depoimentos .box-azul p {
    font-size: 1rem;
} 

.parceiros {
    background-color: #f8f8f8;
}


.depoimentos p {
    font-size: 1.25rem;
}


@media (min-width: 992px) {
    .parceiros h3 {
        margin-bottom: 65px;
    }
}


@media (min-width: 992px) {
    .parceiros #imgParceiro1 {
        padding-top: 43px;
    }
}




